<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Platform) = x64 ?>
    <?define bitness = "(64 bit)" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define bitness = "(32 bit)" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  
<?define MyProductVersion = "1.0.13.0" ?>
<?define MyUpgradeCode = "465f37e9-e953-4c95-bd5f-6d09e00229a7" ?>

	<Product Id="*" Name="Events Scheduler $(var.bitness)" Language="1033" 
           Version="$(var.MyProductVersion)" Manufacturer="sa55231" 
    UpgradeCode="$(var.MyUpgradeCode)">
		<Package Id="*" InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade      
      
       Schedule="afterInstallValidate"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed."
     />

    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="INSTALLFOLDER" Name="Events Scheduler" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="DIR_Shortcuts" Name="Event Scheduler" />
      </Directory>      
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="scheduler.exe" Guid="E20CDBDB-5A0D-4652-9428-9C015F0F6D51">
        <File Id="scheduler.exe" Source="$(var.scheduler.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DIR_Shortcuts">
      <Component Id="CMP_ReadFileShortcut" Guid="F74E38A6-110A-44B1-8BFC-C888644AC951">

        <Shortcut Id="ExecuteScheduler"
						  Name="Events Scheduler"
						  Description="Execute events escheduler"
						  Target="[INSTALLFOLDER]scheduler.exe" />

        <Shortcut Id="UninstallShortcut"
						  Name="Uninstall Events Scheduler"
						  Description="Uninstalls Events Scheduler"
						  Target="[System64Folder]msiexec.exe"
						  Arguments="/x [ProductCode]" />

        <RemoveFolder Id="RemoveDIR_Shortcuts"
							  On="uninstall" />

        <RegistryValue Root="HKCU"
							   Key="Software\sa55231\Event Scheduler"
							   Name="installed"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
      </Component>
      
    </DirectoryRef>
    
    
    <Feature Id="ProductFeature" Title="Scheduler Installer" Level="1">
			<ComponentRef Id="scheduler.exe" />
		</Feature>
    
    <Feature Id="ShortcutsFeature"
			 Title="Shortcuts"
			 Level="1">
      <ComponentRef Id="CMP_ReadFileShortcut" />
    </Feature>
    
    <UIRef Id="WixUI_FeatureTree"/>

    
  
  </Product>
</Wix>
